<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="?" method="post">
    <table>
        <tr>
            <td>Numero taquilla:</td>
            <td><input type="text" name="number" value="" style="width:20em"/></td>
        </tr>
        <tr>
            <td>Tipo taquilla:</td>
            <td>
                <select name="type" style="width:20em">
                    {% for type in types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Campus:</td>
            <td>
                <select name="school" style="width:20em">
                    {% for school in list_school  %}
                    <option value="{{ school }}">{{ list_school[school] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Edificio:</td>
            <td>
                <select name="building" style="width:20em">
                    {% for building in list_building  %}
                    <option value="{{ building }}">{{ building }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Planta:</td>
            <td>
                <select name="floor" style="width:20em">
                    {% for floor in list_floor  %}
                    <option value="{{ floor }}">{{ floor }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Zona:</td>
            <td>
                <select name="zone" style="width:20em">
                    {% for zone in list_zone  %}
                    <option value="{{ zone }}">{{ zone }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Enviar" style="width:10em"/></td>
        </tr>
    </table>
</form>
</body>
</html>