@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?-xuph9k');
  src: url('fonts/icons.eot?#iefix-xuph9k') format('embedded-opentype'), url('fonts/icons.woff?-xuph9k') format('woff'), url('fonts/icons.ttf?-xuph9k') format('truetype'), url('fonts/icons.svg?-xuph9k#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-print:before {
  content: "\31";
}
.icon-debate:before {
  content: "\64";
}
.icon-fill:before {
  content: "\32";
}
.icon-agroup:before {
  content: "\33";
}
.icon-map:before {
  content: "\34";
}
.icon-clock:before {
  content: "\35";
}
.icon-comment:before {
  content: "\36";
}
.icon-user:before {
  content: "\37";
}
.icon-signin:before {
  content: "\38";
}
.icon-signout:before {
  content: "\39";
}
.icon-back:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
html {
  font-family: 'Roboto', sans-serif;
  background: #e1e1e1;
  color: #2b2b2b;
}
a {
  outline: none;
  text-decoration: none;
  color: #066394;
}
a:active,
a:visited {
  color: #066394;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.print {
  display: none;
}
input,
textarea,
select {
  padding: 6px 8px;
  border-radius: 5px;
  background: #f6f6f6;
  border: 1px solid #c4c4c4;
  color: #555454;
  transition: all 0.4s;
  font-weight: 300;
}
input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus {
  border: 1px solid #555454;
}
#entrar {
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  color: #555454;
  transition: all 0.4s;
}
#entrar:hover,
#entrar:focus {
  border: 1px solid #555454;
}
input,
button,
select,
textarea {
  outline: 0;
  font-family: 'Roboto', sans-serif;
}
button,
a.button {
  display: block;
  background: #066394;
  color: #fff;
  position: relative;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid #004a6f;
  transition: all 0.4s;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
}
button:active,
a.button:active {
  margin-top: 2px;
  border-bottom: 0px;
}
button:before,
a.button:before {
  margin-right: 10px;
}
h1,
h3 {
  font-weight: 300;
}
h2 {
  font-weight: 300;
  color: #066394;
}
header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 19px 0;
}
header h1 {
  font-size: 2.7em;
  color: #066394;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
header img {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}
header #user {
  float: right;
  font-size: 0.95em;
  margin-top: 15px;
}
header #user a {
  padding: 8px 23px;
  border-radius: 5px;
  border: 1px solid #bad5e2;
  color: #006191;
}
header #user a.logout {
  border: none;
}
html,
body {
  height: 100%;
}
button {
  margin: 10px;
}
.main {
  min-height: 500px;
  min-height: 60vh;
  min-height: calc(100% - 93px - 194px);
}
.main #cuerpo {
  width: 80%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.main form {
  margin-left: 5%;
  text-align: block;
}
.main h2 {
  font-size: 1.7em;
  max-height: 38px;
}
.main h2 a {
  float: right;
  font-size: 0.55em;
  margin-left: 10px;
}
.main h3 {
  text-align: center;
  font-size: 1.6em;
}
.main p.info {
  background: #fedeb2;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 10px 15px;
}
.main p.info.error {
  background: #FEB2B2;
  width: 90%;
  margin: 10px auto;
  font-weight: bold;
}
.main p.info.hide {
  display: none;
}
.main.inicio,
.main.login {
  background: linear-gradient(rgba(0, 97, 145, 0.65), rgba(0, 97, 145, 0.65)), url('/debate/assets/img/Geta.jpg') center;
  background-size: cover;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  display: table;
  width: 100%;
  border-collapse: separate;
}
.main.inicio > div,
.main.login > div {
  display: table-cell;
  vertical-align: middle;
}
.main.inicio h2,
.main.login h2,
.main.inicio h3,
.main.login h3 {
  border-bottom: none;
  color: #fff;
}
.main.inicio h2,
.main.login h2 {
  font-size: 2em;
  margin: 0 0 30px;
}
.main.inicio p,
.main.login p {
  margin: 15px 0;
}
.main.inicio ul,
.main.login ul {
  margin: 0;
  padding: 0;
}
.main.inicio {
  border-spacing: 0 65px;
}
.main.inicio li {
  list-style: none;
  display: inline-block;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}
.main.inicio li p {
  text-align: justify;
}
.main.login {
  border-spacing: 0 80px;
}
.main.login p.error {
  color: #FF2F2F;
  font-weight: bold;
}
.main.login form {
  margin: 20px 0;
}
.main.login form.error input[type="text"],
.main.login form.error input[type="password"] {
  border-color: rgba(128, 0, 0, 0.75) !important;
}
.main.login input[type="text"],
.main.login input[type="password"] {
  display: inline;
  margin: 0 auto;
  width: 300px;
  padding: 12px 15px;
  background: rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 0.55);
  box-sizing: border-box;
}
.main.login input[type="text"] {
  border-radius: 5px 5px 0 0;
}
.main.login input[type="password"] {
  border-radius: 0 0 5px 5px;
  border-top: none;
}
.main.login button {
  width: 300px;
  box-sizing: border-box;
  padding: 12px 15px;
  text-shadow: -1px 0 4px rgba(0, 0, 0, 0.55);
  margin: 30px auto 0;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.45);
  border-width: 3px;
}
.main.login button:active {
  margin-top: 33px;
}
footer {
  font-size: 0.9em;
  background: #fff;
  box-shadow: 0 0 6px 0 #2b2b2b;
  padding: 15px 0;
}
footer #rsociales {
  margin: 20px 0;
  text-align: center;
}
footer #rsociales a {
  border-bottom: solid 1px #bad5e2;
}
footer #copy {
  border-top: 1px solid #e3e3e3;
  text-align: center;
  padding: 20px 0;
}
footer h2 {
  margin: 0;
  color: #066394;
}
footer i {
  margin: 0 5px 0 15px;
}
footer i,
footer a,
footer span {
  display: inline-block;
  vertical-align: top;
}
footer span {
  max-width: 500px;
  text-align: left;
}
